* {
  -webkit-font-smoothing: antialiased !important;
}

html, body {
  font-size: 16px;
}

body {
  color: #000;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  font-family: 'Montserrat', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.pe-button {
  height: 100%;
  padding: 12px 25px;
  background-color: #021318;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #021318;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.pe-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in;
}

body.pe-light {
  background: #ffffff;
  color: #000;
  transition: background-color 0.2s ease-in;
}

body.pe-dark {
  background: #021318;
  color: #ffffff;
  transition: background-color 0.2s ease-in;
}

.pe-container {
  height: 100%;
}

.pe-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0;
}

header {
  background: transparent;
  height: 120px;
  color: #021318;
  padding: 0 20px;
  background: #fff;
  transition: background-color 0.2s ease-in;
}

body.pe-dark header {
  background: #021318;
  transition: background-color 0.2s ease-in;
}

.pe-logo img {
  height: 100px;
  width: auto;
}

.pe-icons svg {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-right: 40px;
}

.pe-icons a:last-child svg {
  margin-right: 0;
}

.mode-toggle {
  display: flex;
}

.toggle:hover {
  animation: toggleshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  transform-origin: top right;
}

.pe-icons a {
  line-height: 0;
}
svg.sun {
  display: none;
}

body.pe-dark svg.sun {
  display: block !important;
}

body.pe-dark svg.moon {
  display: none;
}

body.pe-dark svg.twitter path,
body.pe-dark svg.youtube path,
body.pe-dark svg.linkedin path {
  fill: #fff;
}

.pe-body {
  height: 70vh;
  background: #fff;
  transition: background-color 0.2s ease-in;
}
.pe-body > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.pe-dark .pe-body {
  background: #021318;
  transition: background-color 0.2s ease-in;
}

.pe-body > div > div:first-child {
  width: 45%;
}

.pe-body > div > div:last-child {
  width: 54%;
  margin-left: auto
}

.pe-body h1 {
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.pe-body p {
  line-height: 2;
  font-weight: 500;
  font-size: 1rem;
}

.pe-illustration img {
  width: 100%;
  height: auto;
}

.pe-cta {
  background-color: rgba(231, 249, 253, 0.96);
  height: 200px;
  transition: background-color 0.2s ease-in;
  position: relative;
}

body.pe-dark .pe-cta, body.pe-dark .pe-cta-holder {
  background: #112126;
  transition: background-color 0.2s ease-in;
}

.body.pe-dark .pe-cta-holder {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
}
.pe-cta-holder {
  height: auto;
  border-radius: 20px;
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  width: 68%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;
  margin: auto;
  background-color: rgba(231, 249, 253, 0.96);
  transition: background-color 0.2s ease-in;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
}

body.pe-dark .pe-cta-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pe-cta-holder > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
}

.pe-cta-icon {
  background: linear-gradient(41deg, #0FB6E4, #3EF4A4);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin-right: 20px;
  border-radius: 5px;
}

.pe-cta-icon svg {
  height: 50px;
  width: 50px;
}

.pe-cta-text a {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #021318;
  margin-bottom: 10px;
  display: block;
}

body.pe-dark .pe-cta-text a {
  color: #fff;
  transition: color 0.2s ease-in;
}

.pe-cta-text p {
  line-height: 1.9;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

footer {
  background-color: rgba(231, 249, 253, 0.96);
  transition: background-color 0.2s ease-in;
  padding-bottom: 30px;
}

footer .subscribe {
  margin: auto auto 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .subscribe p {
  margin-bottom: 20px;
  opacity: 1;
  font-size: 14px;
}

footer .subscribe  form {
  display: flex;
  justify-content: center;
  width: 60%;
}

footer form div:first-child {
  margin-right: 20px;
  width: 100%;
  text-align: left;
}

footer form div:first-child span {
  font-size: 0.8rem;
  font-family: 'Montserrat', san-serif;
  color: red;
  opacity: 0;
}

footer .subscribe input {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.error input {
  border: 1px solid red !important;
  transition: border 0.2s ease-in;
}

.error span {
  opacity: 1 !important;
  transition: opacity 0.2s ease-in;
}

footer .subscribe input:focus {
  border: 1px solid rgba(2, 19, 24, 0.2);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in;
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}

body.pe-dark footer {
  background: #112126;
  transition: background-color 0.2s ease-in;
}