@media (min-width: 360px) {
  .pe-container {
    max-width: 330px;
    margin: auto;
  }
}

@media (min-width: 481px) {
  .pe-container {
    max-width: 451px;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .pe-container {
    max-width: 550px;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .pe-container {
    max-width: 768px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .pe-container {
    max-width: 960px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .pe-container {
    max-width: 1200px;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .pe-logo img {
    height: 70px;
  }
  .pe-icons a:last-child svg {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 575px) {
  body {
    padding: 0 15px!important;
  }
  .pe-logo img {
    height: 60px;
  }
  .pe-icons svg {
    margin-right: 25px!important;
  }
}
